.herotitle {
  max-width: 55%;
  color : #1e1e1e;
  min-width: 37%;
  font-size: 10vw;
  font-family: "FONTSPRING DEMO - Robson Semibold";
}
.HeroContainer {
  /* max-height: 20vh ; */
  min-height: 15vh;
  position: absolute;
  top: 0;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.LandingContainer {
  height: 90vh;
}

.ShowReelContainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.showReel {
  width: 80%;
  height: 100vh;
}
